# Importante


"""                                                     P/E ou P/L EMPOLGACAO
Conhecido como um múltiplo do preço, pois mostra o quanto os investidores estão dispostos a pagar pelo lucro obtido no período anterior.
"""

"""                                                    EV/EBITDA   ANOS GERACAO DE CAIXA
Da mesma forma que o indicador Preço/Lucro (P/L), quando maior for o EV/EBITDA, mais cara a empresa está no mercado.
Por exemplo, se o EV/EBITDA é igual a 5, isso significa que o valor da empresa (EV) corresponde a cerca de 5 anos de sua geração de caixa operacional (EBITDA).
Para o investidor, quanto menor for esse tempo, mais rapidamente ele consegue colher os frutos dos recursos que aplicou.
"""

"""                                                    EV/REVENUE subvalorizada
O múltiplo valor/receita (EV/R) da empresa ajuda a comparar as receitas de uma empresa com o valor da empresa.
Quanto menor, melhor, pois um múltiplo EV/R menor sinaliza que uma empresa está subvalorizada.
"""

"""                                                     P/VP
A razão de preço para livro (relação P/B) é um índice financeiro usado para comparar o valor contábil de uma empresa com o preço atual de mercado.
É calculado dividindo o preço de fechamento atual das ações pelo valor contábil do último trimestre por ação. Quanto menor a razão de preço para livro, melhor o valor
"""


"""                                 P/ToSales12   CAPACIDADE GERAR RECEITA
ao analisar o PSR é possível concluir que empresas com índice menor que 1,0 conseguem gerar mais receita em comparação com seu valor de mercado.

"""



"""                                                     P/E ou P/L EMPOLGACAO
Conhecido como um múltiplo do preço, pois mostra o quanto os investidores estão dispostos a pagar pelo lucro obtido no período anterior.
"""

"""                                                    EV/EBITDA   ANOS GERACAO DE CAIXA
Da mesma forma que o indicador Preço/Lucro (P/L), quando maior for o EV/EBITDA, mais cara a empresa está no mercado.
Por exemplo, se o EV/EBITDA é igual a 5, isso significa que o valor da empresa (EV) corresponde a cerca de 5 anos de sua geração de caixa operacional (EBITDA).
Para o investidor, quanto menor for esse tempo, mais rapidamente ele consegue colher os frutos dos recursos que aplicou.
"""

"""                                                    EV/REVENUE subvalorizada
O múltiplo valor/receita (EV/R) da empresa ajuda a comparar as receitas de uma empresa com o valor da empresa.
Quanto menor, melhor, pois um múltiplo EV/R menor sinaliza que uma empresa está subvalorizada.
"""

"""                                                     P/VP
A razão de preço para livro (relação P/B) é um índice financeiro usado para comparar o valor contábil de uma empresa com o preço atual de mercado.
É calculado dividindo o preço de fechamento atual das ações pelo valor contábil do último trimestre por ação. Quanto menor a razão de preço para livro, melhor o valor
"""


"""                                 P/ToSales12   CAPACIDADE GERAR RECEITA
ao analisar o PSR é possível concluir que empresas com índice menor que 1,0 conseguem gerar mais receita em comparação com seu valor de mercado.

"""

# INSTALL

In [106]:
!pip install pandas yfinance numpy matplotlib IPython

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.43)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: IPython in /usr/local/lib/python3.10/dist-packages (7.34.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.4)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.2.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.4)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from IPython) (71.0.4)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from IPython) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from IPython) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from IPython) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from IPython) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from IPython) (3.0.47)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from IPython) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from IPython) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from IPython) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from IPython) (4.9.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->IPython) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->IPython) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython) (0.2.13)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2024.8.30)

# Import

In [107]:
import pandas as pd
import yfinance as yf
from datetime import datetime
import math
from tqdm import tqdm
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import HTML, display

# CODIGO

In [108]:


# https://github.com/ranaroussi/yfinance
# https://pypi.org/project/yfinance/

class ACAO():

    def __init__(self,quantidade_de_acao_prospectada,ativos,CARTEIRA,valor_disponivel) -> None:
        self.ativos=ativos
        self.quantidade_de_acao_prospectada = quantidade_de_acao_prospectada
        self.carteira=CARTEIRA
        self.valor_disponivel = valor_disponivel

    def start(self):
        pd.reset_option('max_columns')
        df =pd.DataFrame([],columns=['VALOR_PROSPECTADO_DIV_MEDIO','VALO_ACAO/DIVIDENDO','VALOR_REAL_DIV_MEDIO','ACAO','PRECO','VALOR_COMPRA','PRECOJUSTO','PRECOTETO_10','DIV.MEDIO','P/L','LPA','P/VP','P/ToSales12','EV/EBITDA','EV/REVENUE','VARIACAO'])
        for x,y in enumerate(self.ativos):
            self.get_dados(x,y,df)
        df = df.sort_values(['EV/EBITDA','EV/REVENUE','P/ToSales12','P/VP'], ascending=[True,True,True,True])
        df['PRECO/PRECOTETO_10'] = df['PRECO'] - df['PRECOTETO_10']
        df = df.sort_values(['PRECO/PRECOTETO_10','EV/EBITDA','EV/REVENUE','P/ToSales12','P/VP'], ascending=[True,True,True,True,True])
        return df

    def get_dados(self,index,acao,df):

        aapl = yf.Ticker(f"{acao}.SA")
        pd.set_option('display.max_rows', None)
        VPA=aapl.info['bookValue']
        PL = aapl.info['trailingPE']
        LPA =aapl.info['trailingEps']
        num= (2.25 * PL* VPA*LPA)
        preco_justo = math.pow(num, 1/2)
        dividendo_medio_5= pd.Series(aapl.dividends.resample('Y').sum()).tail(3).mean()         #3 anos
        preco_teto = round(dividendo_medio_5/0.06,2)
        df.loc[index,'ACAO']=acao
        df.loc[index,'PRECO']=aapl.info['currentPrice']
        df.loc[index,'VARIACAO']= round(aapl.info['52WeekChange']*100,2) if "52WeekChange" in aapl.info else 0.0
        df.loc[index,'PRECOJUSTO']= round(preco_justo,2)
        df.loc[index,'VALOR_COMPRA']= round(preco_justo*0.73,2)
        df.loc[index,'DIV.MEDIO']=round(float(dividendo_medio_5),2)
        df.loc[index,'VALOR_PROSPECTADO_DIV_MEDIO'] =   round((self.quantidade_de_acao_prospectada/aapl.info['currentPrice']) * dividendo_medio_5,2)
        df.loc[index,'VALOR_REAL_DIV_MEDIO']=round(self.carteira[index]*dividendo_medio_5,2)
        df.loc[index,'PRECOTETO_10']=round(float(dividendo_medio_5)/0.1,2)
        df.loc[index,'VALO_ACAO/DIVIDENDO']= round(round(self.carteira[index]*dividendo_medio_5,2)/round(aapl.info['currentPrice']*self.quantidade_de_acao_prospectada,2)*100,2)
        df.loc[index,'P/VP']= round(aapl.info['priceToBook'],2)
        df.loc[index,'P/ToSales12']= round(aapl.info['priceToSalesTrailing12Months'],2)
        df.loc[index,'P/L']= PL
        df.loc[index,'LPA']= LPA
        df.loc[index,'EV/EBITDA']= round(aapl.info['enterpriseToEbitda'],2) if "enterpriseToEbitda" in aapl.info else 0.0
        df.loc[index,'EV/REVENUE']= round(aapl.info['enterpriseToRevenue'],2) if "enterpriseToRevenue" in aapl.info else 0.0

    def lucro_por_preco(self,acao):
        aapl = yf.Ticker(f"{acao}.SA")
        dx= aapl.financials
        ########################################################################################
        lucro_liquido= dx[dx.index.isin(['Net Income'])]
        lucro_liquido =lucro_liquido.transpose()
        lucro_liquido=lucro_liquido.infer_objects(copy=False).fillna(0)# type: ignore
        lucro_liquido.index.name = 'Date'
        lucro_liquido.index= pd.to_datetime(lucro_liquido.index).date
        ########################################################################################
        dp=aapl.history(period="5y").reset_index()
        dp['Date'] = pd.to_datetime(dp['Date'])
        dp=dp.resample(on="Date", rule="ME").max().reset_index(drop=False)
        dp['year'] = dp['Date'].dt.year
        dp['month'] = dp['Date'].dt.month
        dp['Date'] =  dp['Date'].dt.date
        dp1 = dp[dp['month']==12]
        # dp1.loc[:, ['Close']] =dp1['Close'] * 10000000
        dp2 = dp1[['Date','Close']].set_index(['Date'])
        ########################################################################################
        dx=pd.concat([dp2,lucro_liquido],axis=1 ).reset_index()
        dx=dx.infer_objects(copy=False).fillna(0) # type: ignore
        dx.rename(columns={'index': 'Data', 'Close': 'Preco','Net Income':'Lucro'}, inplace=True)
        dx.sort_values(['Data'], ascending=[False])

        fig, ax1 = plt.subplots(1,1,num=acao)
        dx.Preco.plot(ax=ax1, color='blue', label='Preco')
        ax2 = ax1.twinx()
        dx.Lucro.plot(ax=ax2, color='green', label='Lucro')
        ax1.set_ylabel('Preco')
        ax2.set_ylabel('Lucro')
        ax1.legend(loc=3)
        ax2.legend(loc=0) # type: ignore
        ax1.set_xticklabels(dx.Data)
        ax1.set_xticks(np.arange(len(dx.Data)))
        # plt.savefig(f'{acao}.png')

    def GRAFICO(self,dx,tag):
        dx.plot(kind="bar",x="ACAO",y=['PRECO','VALOR_COMPRA'])
        # plt.show()
        plt.savefig(f'{tag}.png')

CARTEIRA = {
    "CXSE3":0,
    "BBSE3":0,
    "BBAS3":1500,
    "TAEE11":600,
    "UNIP6":0,
    "TRPL4":0,
    "VALE3":700,
    "BBDC4":0,
    "SAPR11":0,
    "CSMG3":0,
    "SANB11":0,
    "ITSA4":0,
    "CMIG4":0,
    "RANI3":0,
    "KLBN11":0,
    "PETR4":0,
    "BBDC4":0,
    "BRSR6":0,
    "GGBR4":0,
    "CMIN3":0,
    "BRAP4":0
}


# CARTEIRA = {
#     "VALE3":0
# }
ACOES = list(CARTEIRA.keys())
VALORES = list(CARTEIRA.values())
# VALORES = [1000 for x in range(0,9)]
valor = 1000
valor_prospectado = valor
valor_disponivel = valor #float(input("Digite Valor Total Disponivel: "))
df = ACAO(valor_prospectado,ACOES,VALORES,valor_disponivel).start()

In [115]:
def valida_acao(x):
              compra = 'background-color:green ;color:back'
              atencao = 'background-color:yellow ;color:back'
              venda =  'background-color:blue ;color:white'

              default=''
              if x['PRECO']-x['VALOR_COMPRA']<=0 and  x['EV/EBITDA']<=10.0 and x['P/ToSales12']<=10.0 and x['PRECO'] - x['PRECOTETO_10'] >= -10.00 and x['PRECO'] - x['PRECOTETO_10'] < 0.00 :
                  return [compra,compra,compra,compra,compra,compra]
              if x['PRECO']-x['VALOR_COMPRA']<=0 and  x['EV/EBITDA']<=10.0 and x['P/ToSales12']<=10.0 and x['PRECO'] - x['PRECOTETO_10'] >= 0.00 and x['PRECO'] - x['PRECOTETO_10'] < 2.00 :
                  return [atencao,atencao,atencao,atencao,atencao,atencao]
              if x['PRECO']-x['VALOR_COMPRA']<=0 and  x['EV/EBITDA']<=10.0 and x['P/ToSales12']<=10.0 and x['PRECO'] - x['PRECOTETO_10'] >= 2.00 :
                  return [venda,venda,venda,venda,venda,venda]
              return [default,default,default,default,default,default]
df.style.apply(valida_acao,subset=['ACAO','PRECO','VALOR_COMPRA','EV/EBITDA','P/ToSales12','PRECOTETO_10'],axis=1)